[part="label"] {
    color: white;
    font-size: 20px;
}

:host([focused]) [part="label"] {
    font-size: 25px;
    color: white;
}

:host([focused]:not([randonly])) [part="label"] {
    color: #ECB365;
}

:host([focused]) [part="input-field"] {
    box-shadow: 0 0 0 2px #ECB365;
}

[part="input-field"] {
    background-color: #064663;
    color: white;
}